// Importing Global Variables
@import '~@redhat-cloud-services/frontend-components-utilities/styles/all';
@import '~@redhat-cloud-services/frontend-components/index.css';
@import '~@redhat-cloud-services/frontend-components-notifications/index.css';
@import '~@patternfly/patternfly/sass-utilities/colors';
@import '~@patternfly/patternfly/sass-utilities/scss-variables';

.ins-c-primary-toolbar__pagination {
    margin-left: auto;
}

[data-label="Name"] {
  cursor: pointer;
}

.highlight {
  background-color: #F5F5F5;
}
.pointer {
  cursor: pointer;
}
.active-blue {
  color: #0066CC;
}

.not-active {
  color: #737679;
}

.not-active:hover {
  color: #151515;
}

.tableNoPadding{
  .pf-c-card__body {
    padding-left: 0;
    padding-right: 0;

  }
}

.pf-c-card > :last-child.pf-c-card__body {
  padding-top: 0;
  padding-bottom: 0;
}

.fact-state {
  border-right: 1px solid #CCC;
  padding-right: 2px;
}

.sticky-column-header .active-sort {
  border-bottom: 3px solid #0066CC;
}

.comparison-header {
  .drift-header-icon {
    vertical-align: middle;
  }

  svg {
    margin-right: 8px;
    font-size: 1.25em;
  }
}

.reference-header {
  overflow: visible;
  background: #DEF3FF;
}

.baseline-toolbar {
  .pf-c-toolbar__content {
    padding-left: 0;
  }
}

.baseline-header {
  overflow: visible;
  background: #FFF;
}

.system-header {
  overflow: visible;
  background-color: rgb(237, 237, 237);
}

.dropdown-empty-state-width {
  .pf-c-dropdown__menu {
    width: 300px;
  }
}

.historical-system-profile-header {
  overflow: visible;
  background-color: #f9e0a2;
}

.add-system-header {
  background-color: #F5F5F5;
  padding: 20px 20px;
  text-align: center;
}

.system-name {
  font-weight: bold;
  font-size: 16px;
  word-wrap: break-word;
  white-space: pre-wrap;
}

.system-updated-and-reference {
  font-size: 14px;
  font-weight: normal;
  bottom: 12px;

  &.stale-system {
    color: #f0ab00;
  }

  svg {
    margin-right: 5px;
    font-size: 14px;
  }
}

.reference-selector {
  color: #737679;
}

.reference-selector:hover {
  color: #151515;
}

.hsp-dropdown {
  margin-top: -7.5px;
  margin-bottom: -7.5px;
}

.cluster-icon-large {
  font-size: 2em;
}

.baseline-table {
  td {
    vertical-align: middle;
  }
}

.edit-baseline-table {
  td {
    vertical-align: middle;
  }
}

.inventory-align {
  td {
    vertical-align: middle;
  }
}

.sticky-column-header th {
  z-index: 2;
}

.drift-table {
  border-top: 0;
  border-left: 0;

  td, th {
    background-clip: padding-box;
  }

  td {
    word-wrap: break-word;
    white-space: pre-wrap;
  }

  tr:hover td {
    background: #DEF3FF;
  }

  &.pf-c-table {
    border-collapse: separate;

    tr:not(.pf-c-table__expandable-row) {
      border-bottom: 0;
  
      td, th {
        &::after {
          content: '';
          position: absolute;
          left: 0;
          right: 0;
          bottom: 0;
          border-bottom: var(--pf-c-table--border-width--base) solid var(--pf-c-table--BorderColor);
          pointer-events: none;
        }
      }
    }

    tr td:first-child {
      background-clip: padding-box;
    }
    tr td:nth-child(2) {
      background-clip: padding-box;
    }
    tr td:empty {
      min-width: 250px;
    }
  }

  .sticky-column-header .drift-header {
    padding: 16px;
    margin: 0;
    min-width: 250px;

    &.right-border {
      border-right: 1px solid #CCC;
    }

    &.remove-system-icon {
      position: relative;
    }

    .remove-system-icon {
      position: absolute;
      right: 8px;
      top: 6px;
      color: black;

      &:link, &:visited {
        text-decoration: none;
      }
    }
  }

  .unexpected-row .highlight {
    background: rgba(201, 25, 11, 0.08);

    &:nth-child(3) {
      border-left: 6px solid rgb(201, 25, 11);
      border-left-width: medium;
    }
  }

  .unexpected-row:hover .highlight {
    background: rgba(201, 25, 11, 0.28);
  }
}


.different-fact-cell {
  border-left: 6px solid rgb(201, 25, 11);
  border-left-width: medium;
}

.obfuscated {
  background: #f5f5f5;
  color: #6a6a73;
}

.second-scroll-wrapper {
  overflow-x: auto;
  overflow-y: hidden;
  margin-left: 24px;
  margin-right: 24px;
  height: 15px;
  background-color: white;
}

.second-scroll {
  height: 12px;
}

.container {
  height: 1000px;
  overflow: auto;
  margin-left: 24px;
  margin-right: 24px;
}

.height-100 {
  height: 100%
}

.drift-table-wrapper {
  overflow: hidden;
  margin-right: 24px;
  margin-left: 24px;
}

.sticky-table-header {
  position: sticky;
  top: 0;
  z-index: 100;
}

.table-body-scroll {
  overflow-x: auto;
}

.sticky-column {
  &,
  .sticky-column-header & {
    position: sticky;
    background-color: white;
    background-clip: padding-box;
    z-index: 3;
    border-right: 0;
  }
}
th.sticky-column {
  z-index: 3;
}
.sticky-header {
  top: 0;
  position: sticky;
}
.fact-header {
  vertical-align: bottom;
}
.state-header {
  font-weight: bold;
  vertical-align: bottom;

  &.right-border {
    border-right: 1px solid #CCC;
  }
}
.fixed-column-1 {
  top: 0;
  left: 0;
  width: 250px;
  min-width: 250px;
  max-width: 250px;
  word-wrap: break-word;
  border-right: none;
  z-index: 1;
}
.fixed-column-2 {
  top: 0;
  left: 250px;
  width: 60px;
  min-width: 100px;
  max-width: 100px;
  border-right: 1px solid #CCC;
  z-index: 1;
}
.comparison-cell {
  min-width: 250px;
  border-right: 1px solid #CCC;
}
.nested-fact {
  border-left: 3px solid #0066CC;
}
.child-row {
  margin-left: 3em;
}
.add-system-icon {
  font-size: 3em;
  color: grey;
  margin-bottom: 20px;
}

.pf-c-alert {
  margin-bottom: 30px;
}

.margin-right {
  margin-right: 30px;
}
.edit-icon-margin {
  margin-left: 10px;
  margin-bottom: 2px;
}

.fact-value {
  width: 270px;
}

.edit-baseline-header {
  div {
    font-weight: bold;
  }
}

.hsp-dropdown-icon {
  color: #0066CC;
}
.hsp-dropdown-icon:hover {
  color: #004080;
}

.hsp-dropdown-loading {
  min-width: 250px;
  display: block;
  margin-top: 8px;
  margin-bottom: 8px;
}

.display-block {
  display: block;
}


.pf-c-modal-box__body {
  max-width: 1200px;
  max-height: 600px;
  padding-top: 0px;
}

.pf-c-modal-box__header {
  padding-bottom: 16px;
}

.carat-margin {
  margin-right: 16px;
}

.reload-button {
  margin-top: 10px;
  margin-right: 5px;
}

.hsp-icon-padding {
  height: 22px;
  padding-right: 8px;
}

.md-padding-top {
  padding-top: 16px;
}

.md-padding-bottom {
  padding-bottom: 16px;
}

.sm-padding-top {
  padding-top: 8px;
}

.sm-padding-bottom {
  padding-bottom: 8px;
}

.sm-padding-right {
  padding-right: 8px;
}

.bottom-padding-0 {
  padding-bottom: 0px;
}

.margin-right-4-px {
  margin-right: 4px;
}

.margin-right-5-px {
  margin-right: 5px;
}

.margin-left-5-px {
  margin-left: 5px;
}

.small-empty-state-icon {
  width: 18px;
  height: 18px;
  margin: 0px;
}

.tooltip-button-margin {
  margin-top: 32px;
}

.badge-margin {
  margin-bottom: 30px;
}

.hsp-icon-align {
  display: flex;
  align-items: center;
}

.inventory-toolbar-no-padding {
  .ins-c-inventory__table--toolbar .pf-c-toolbar__content {
    padding-left: 0;
  }
}

.float-right {
  float: right;
}

.no-left-padding {
  padding-left: 0;
}

.ins-c-tag-count {
  padding-left: 0px;
}

.comparison-filter-dropdown-width {
  .pf-c-dropdown__toggle-text {
    width: 102px;
    text-align: left;
  }
}

.comparison-filter-input-dropdown-width {
  .pf-c-dropdown__toggle {
    width: 207px;
  }
}

.fact-loading-width {
  width: 250px;
}

.state-loading-width {
  width: 100px;
}

.edit-baseline-toolbar {
  .pf-c-dropdown__menu {
    z-index: 9999;
  }
}
