// Importing Global Variables
@import '~@red-hat-insights/insights-frontend-components/Utilities/_all';
@import '~@red-hat-insights/insights-frontend-components/index.css';

.drift {

  .highlight {
    background-color: #F5F5F5;
  }
  .pointer {
    cursor: pointer;
  }
  .active-blue {
    color: #39A5DC;
  }

  .pf-c-card__body {
    padding-left: 0;
    padding-right: 0;
  }

  .pf-c-card > :last-child.pf-c-card__body {
    padding-bottom: 0;
  }

  .pf-c-table.ins-c-table {
    border: none;
  }

  .fact-state {
    border-right: 1px solid #CCC;
    text-align: center;
    padding-right: 2px;
  }

  .fact-header-cell {
    td {
      border-bottom: 3px solid #39A5DC;
    }
  }
  .fact-header {
    min-width: 200px;

    div {
      margin-top: 125px;
    }
  }

  .state-header {
    min-width: 60px;
    font-weight: bold;

    div {
      margin-top: 125px;
    }
  }

  .drift-toolbar {
    padding: 20px;
    padding-top: 0px;
  }

  .system-header {
    background: rgba(57,165,220, 0.1);
    padding: 10px;
    padding-top: 30px;
    text-align: center;
    position: relative;
  }

  .add-system-header {
    background-color: #F5F5F5;
    padding: 20px 20px;
    text-align: center;
  }

  .system-name {
    font-weight: bold;
    font-size: 1.1em;
    margin-top: 10px;
    margin-bottom: 20px;
  }

  .cluster-icon-large {
    font-size: 2em;
  }

  .drift-table {
    border-collapse: separate;
  }
  .drift-table-wrapper {
    overflow: auto;
    width: 100%;
    height: 100%;
  }
  .sticky-column {
    position: sticky;
    background-color: white;
    background-clip: padding-box;
    z-index: 1;
  }
  .fixed-column-1 {
    left: 0;
    width: 250px;
    min-width: 250px;
    max-width: 250px;
    word-wrap: break-word;
  }
  .fixed-column-2 {
    left: 250px;
    width: 60px;
    min-width: 60px;
    max-width: 60px;
  }
  .nested-fact {
    border-left: 3px solid #39A5DC;
  }
  .child-row {
    margin-left: 2em;
  }
  .drift-table-scroller {
    overflow-x: scroll;
    overflow-y: visible;
    margin-left: 410px;
  }
  .add-system-icon {
    font-size: 3em;
    color: grey;
    margin-bottom: 10px;
  }

  .pf-c-modal-box__body {
    min-width: 900px;
    max-width: 1200px;
    max-height: 600px;
  }

  .remove-system-icon {
    position: absolute;
    top: 5px;
    right: 5px;
  }

  .pf-c-alert {
    margin-bottom: 30px;
  }
}
